body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url("fondocv.jpg");
}

h1,
h2 {
    color: #004D89;
}

.cv-container {
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header h1.name {
    font-size: 2em;
    font-weight: bold;
    color: #004D89;
}

.header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main div {
    flex-direction: column;
    background-color: #e5e4ff;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 1px;
    border-radius: 14px;
}

.main p,
.skills ul,
.education h3 {
    margin: 2px 0;
    font-size: 16px;
    color: #777;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
    color: #004D89;
}

/* Ajustes específicos para íconos en h2 */
.main h2 .icons {
    font-size: 24px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 15px;
}

.section {
    cursor: pointer;
    padding-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-color: #004D89;
}

.section h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.content {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.content p,
.content ul li {
    font-size: 16px;
    color: #777;
}


.contact-info p {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #777;
}

.contact-info .icons {
    margin-right: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.icons-container {
    margin-top: 5%;
    display: flex;
    gap: 20px;
}

.name {
    font-size: 2.5em;
    margin: 0;
    margin-bottom: 10px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icons:hover {
    transform: translateY(-5px);
    color: #2090D2;
}

.icons-container .icons {
    background-color: #e5e4ff;
    padding: 15px;
    border-radius: 50%;
    color: #004D89;
}

.download {
    padding-top: 10px;
    text-align: center;
}